@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 1010px;
    background-image: url(../img/heroImage.jpg);
    background-size: cover;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 900;
}

.red-dash {
    background-color: #990000;
    width: 47px;
    height: 4px;
}

.black-dash {
    background-color: #000000;
    width: 100%;
    height: 2px;
}

#about .black-dash {
    margin-top: 15px;
}

#about {
    padding-top: 120px;
}

#about p {
    margin-bottom: 70px;
    margin-top: 30px;
    color: #666666;
}

.white-dash {
    background-color: #ffffff;
    width: 100%;
    height: 1px;
}

.red-background {
    background-color: #660000;
    margin-top: -100px;
    padding-top: 185px;
}

.red-background h2,
.red-background h3 {
    color: #ffffff;
}

.red-background p {
    color: #999999;
}

.red-background .white-dash {
    margin-top: 33px;
}

.center-text {
    text-align: center;
}

.grey-background {
    background-color: #f5f5f5;
}

#reasons-row {
    margin-top: 100px;
    padding-bottom: 100px;
}

span {
    color: #990000;
    font-weight: 400;
}

.sidebar span {
    color: #999999;
}

.popular-products {
    padding-top: 120px;
}

.popular-products .black-dash {
    margin-top: 34px;
}

.popular-products p {
    padding-top: 26px;
}

.popular-products a {
    color: #990000;
    font-weight: 400;
}

.grey-background .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.grey-background .black-dash {
    margin-top: 32px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
}

li {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 52px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
}

.ion-star {
    color: #ffcc00;
}

.center-text {
    margin-top: 10px;
    margin-left: 20px;
}

nav {
    background-color: transparent;
    padding-top: 75px;
    position: relative;
}

.test-red-background {
    background-color: red;
    height: 20px;
}

footer {
    background-color: #2d2d2d;
    padding-top: 110px;
    color: #999999;
    position: relative;
    height: 329px;
}

footer ul {
    padding-left: 0;
}

footer li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #999999;
}

.logo {
    position: absolute;
}

.nav-logo {
    top: 50px;
    left: 80px;
}

.footer-logo {
    left: 80px;
    bottom: 160px;
}

#login {
    position: absolute;
    top: 75px;
    right: 80px;
}

i.ion-bag {
    font-size: 1.7em;
}

i.ion-ios-search-strong {
    font-size: 1.7em;
}

.social {
    position: absolute;
    bottom: 160px;
    right: 80px;
}

.col-xs-12 .social {
    position: static;
}

/*Need to change this*/
@media screen and (max-width: 1495px) {
    .logo {
        display: none;
    }
}

/*Need to change this*/
@media screen and (max-width: 1159px) {
    #login {
        display: none;
    }
}

.unpadding {
    padding: 0;
}

.vertical-line {
    width: 2px;
    height: 12px;
    background-color: #999999;
}

.social > ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social li {
    margin-right: 10px;
}

#categories-nav {
    padding-top: 35px;
    padding-bottom: 35px;
    border: 1px #eaeaea solid;
}

#categories-nav li, #categories-nav a {
    color: black;
}

.sidebar h2 {
    font-size: 24px;
    font-weight: 900;
}

#categories-nav .nav-logo {
    top: 21px;
}

#categories-nav #login {
    top: 35px;
}

.round-btn-filter {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 10px;
    opacity: 0.2;
}

.round-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.pink {
    background-color: #990000;
}

.wrap {
    flex-flow: wrap;
}

.orange {
    background-color: #C96800;
}

.light-orange {
    background-color: #CC9900;
}

.yellow {
    background-color: #CCCC00;
}

.green {
    background-color: #99CC66;
}

.blue {
    background-color: #337AB0;
}

.light-purple {
    background-color: #7D5ABC;
}

.purple {
    background-color: #D371DC;
}

.round-btn-filter.active {
    opacity: 1;
}

.round-btn-filter.active i {
    display: inline;
}

.img-text-group.sale-tag-active .sale-tag{
    display: block;
}

.img-text-group.new-tag-active .new-tag{
    display: block;
}

.round-btn-filter i {
    display: none;
    color: white;
}

.no-opacity {
    opacity: 1;
}

.sidebar p {
    color: #999999;
}

.subcategory {
    float: left;
}

.quantity {
    float: right;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.col-xs-12 .flex-horizontal {
    justify-content: space-around;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.sidebar li {
    clear: both;
}
.margin-top-20 {
    margin-top: 20px;
}

.text-center-aligment {
    text-align: center;
}

.popular-product {
    padding-top: 10px;
}

.upper-browse-all-products {
    margin-top: 20px;
}

.product-images {
    margin-top: 100px;
}

@media (max-width: 780px) {
    nav, footer, section {
        padding-left: 29px;
        padding-right: 29px;
    }
    
    header {
        background-position: top;
    }
    
    footer .col-xs-12 {
        margin-bottom: 130px;
        text-align: center;
    }
    
    footer {
        height: 1179px;
    }
}
.sale-tag {
    width: 54px;
    height: 27px;
    border-radius: 4px;
    background-color: #CA3415;
    position: absolute;
    top: 17px;
    right: 30px;
    color: white;
    text-align: center;
    padding-top: 3px;
    display: none;
}

.new-tag {
    width: 54px;
    height: 27px;
    border-radius: 4px;
    background-color: #94BC39;
    position: absolute;
    top: 17px;
    right: 30px;
    color: white;
    text-align: center;
    padding-top: 3px;
    display: none;
}
